<% if current_user %>
<%= link_to "Edit Account", edit_user_registration_path %>
<%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
<% else %>
<%= link_to "Login", new_user_session_path %>
<%= link_to "Create Account", new_user_registration_path %>
<% end %>


<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>Role</th>
            <th colspan="2"></th>
        </tr>
    </thead>
    
    <tbody>
        <% @user.each do |user| %>
        <tr>
            <td><%= user.email%></td>
            <td><%= user.role%></td>
            <td><%= user.id %></td>
            <td><%= link_to 'Edit', edit_admin_user_path(user.id) %></td>
        
        </tr>
        <% end %>
    </tbody>
</table>



